.doc, .docx {
  content: url("../assets/files/doc.svg");
}

.csv {
  content: url("../assets/files/csv.svg");
}
.webp {
  content: url("../assets/files/webp.svg");
}
.jpg {
  content: url("../assets/files/jpg.svg");
}

.gif {
  content: url("../assets/files/gif.svg");
}

.png {
  content: url("../assets/files/png.svg");
}

.svg {
  content: url("../assets/files/svg.svg");
}

.pdf {
  content: url("../assets/files/pdf.svg");
}

.ppt, .pptx {
  content: url("../assets/files/ppt.svg");
}

.xls, .xlsx {
  content: url("../assets/files/xls.svg");
}

.zip {
  content: url("../assets/files/zip.svg");
}

.tiff {
  content: url("../assets/files/tiff.svg");
}

.rar {
  content: url("../assets/files/rar.svg");
}

.css {
  content: url("../assets/files/css.svg");
}

.html {
  content: url("../assets/files/html.svg");
}

.js {
  content: url("../assets/files/js.svg");
}
.txt {
  content: url("../assets/files/txt.svg");
}

.aac {
  content: url("../assets/files/aac.svg");
}

.ai {
  content: url("../assets/files/ai.svg");
}
.json {
  content: url("../assets/files/json.svg");
}

.xml {
  content: url("../assets/files/xml.svg");
}

.exe {
  content: url("../assets/files/exe.svg");
}

.mp2 {
  content: url("../assets/files/mp2.svg");
}

.mp3 {
  content: url("../assets/files/mp3.svg");
}

.mp4 {
  content: url("../assets/files/mp4.svg");
}

.mkv, .video, .avi, .mov, .mpg, .mpeg, .m2v, .ogv, .ogg {
  content: url("../assets/files/video.svg");
}

.psd {
  content: url("../assets/files/psd.svg");
}
